form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#email {
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  border-radius: 5px;
  text-align: left;
  padding-top: 1.6rem;
  padding-right: 20.8rem;
  padding-bottom: 1.4rem;
  padding-left: 2.1rem;

  border: 1px solid #dfe4f1;
}

#password {
  border: none;
  color: black;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  border-radius: 5px;
  text-align: left;
  padding-top: 1.6rem;
  padding-right: 20.8rem;
  padding-bottom: 1.4rem;
  padding-left: 2.1rem;

  border: 1px solid #dfe4f1;
}
.getStartBtn {
  border: none;
  background-color: #ff7f5c;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  width: 100%;
}
